#overlay {
    background: black;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#disclaimer {
    background: black;
    z-index: 4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#disclaimer > div {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#disclaimer-background {
    background: black;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#v-logo {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#dg-logo {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#v-logo > div,
#dg-logo > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#intro > iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }

    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}
