@import "fonts.css";
@import "material.css";
@import "material-colors.css";
@import "dark-theme.css";

html, body {
    font-family: "Poppins", "Helvetica","Arial",sans-serif;
}

h1, h2 {
    font-family: "Poppins-Bold", "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
}

.mdl-button {
    font-family: "Poppins", "Roboto","Helvetica","Arial",sans-serif;
}

.mdl-layout__header {
    min-height: 48px;
}

.mdl-layout__drawer {
    border-right: none;
}

.mdl-button {
    border-radius: 0;
    box-shadow: none;
    height: 44px;
    line-height: 44px;
}

.mdl-button .material-icons {
    padding-right: 10px;
}

.mdl-radio__outer-circle {
    border-radius: 3px;
}

.mdl-radio__inner-circle {
    border-radius: 0;
}

.pointer {
    cursor: pointer;
}
