.mdl-textfield__label:after {
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #FF416C;
}

.mdl-layout__drawer {
    background: #21272f !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(255, 255, 255, .26);
    color: white;
}
